:root {
  // =============================================================================
  // Colors
  // =============================================================================

  --base-color: #333333;
  --text-color: #4F4F4F;
  --dark-gray: #828282;
  --gray: #BDBDBD;
  --lite-gray: #E0E0E0;
  --white-color: #FFFFFF;
 
  --primary-color: #46C0C1;
  --mint: #97E0C5;
  --cold-mint: #A0DCE4;
  --coral: #F4ACBA;
  --purple: #DEA1D2;
  --yellow: #FFECB9;
  --blue: #71C9D4;
  --light-blue: #8DD6E0;
  --orange: #FF5D00;

  --black: #000000;


  // =============================================================================
  // Shadow(box-shadow)
  // =============================================================================

  --shadow-banner: linear-gradient(0deg, var(--color-fade) 0%, rgba(232, 232, 232, 0.00) 49.28%);
  --shadow-card: box-shadow(0 0 15% 0 rgba(0, 0, 0, 0.2));

  // =============================================================================
  // Filter
  // =============================================================================


  --z-hidden: -100;
  --z-background: -1;
  --z-bottom: 1;
  --z-pre-middle: 20;
  --z-middle: 30;
  --z-default: 50;
  --z-up: 60;
  --z-100: 100;
  --z-200: 200;
  --z-500: 500;
  --z-pre-top: 900;
  --z-top: 1000;
  --z-1200: 1200;
  --z-1300: 1300;
  // =============================================================================
  // Fonts
  // =============================================================================

  --font-roboto: Roboto, sans-serif;
  --font-montserrat: Montserrat, sans-serif;

}
