//- footer.footer
//- 	.footer__content.container
//- 	 .footer__logo
//-       a(href="#").link: img(src="images/logoWhite.svg", alt="Логотип Импровит")
//- 		nav.footer__nav 
//- 			ul.nav
//- 				li.nav-item
//- 					a(href="/index.html").nav-link.link Каталог товаров
//- 				li.nav-item
//- 					a(href="#").nav-link.link Наши бренды
//- 				li.nav-item
//- 					a(href="#").nav-link.link Акции
//- 				li.nav-item
//- 					a(href="#").nav-link.link Азбука здоровья
//- 				li.nav-item
//- 					a(href="#").nav-link.link Статьи
//- 				li.nav-item
//- 					a(href="#").nav-link.link О компании
//- 				li.nav-item
//- 					a(href="#").nav-link.link Где купить
//- 				li.nav-item
//- 					a(href="#").nav-link.link Контакты 
//- 		.footer__contact 
//- 			p ООО «НЕО-ФАРМ»
//- 			p 117246, Россия, г. Москва, 
//- 			p ул. Обручева, д. 55А
//- 			p +7 (499) 648 - 37 - 27
//- 			p.email customer@implovit.ru
//- 	p БИОЛОГИЧЕСКИ АКТИВНАЯ ДОБАВКА. НЕ ЯВЛЯЕТСЯ ЛЕКАРСТВЕННЫМ СРЕДСТВОМ
