mixin slider(className)
  .swiper-container(class=className)
    .swiper-wrapper
      +card('swiper-slide slide', 'images/slider1.png', 'Кардиола', 'Забота о сердце для активной жизни', 'Биологически активная добавка для здоровья сердца и активной жизни, в составе которой преобладают натуральные экстракты лекарственных растений и важные элементы, необходимые для заботы о сердце и сосудах.' )
      +card('swiper-slide slide', 'images/slider2.png', 'Комплекс', 'Забота о сердце для активной жизни', 'Биологически активная добавка для здоровья сердца и активной жизни, в составе которой преобладают натуральные экстракты лекарственных растений и важные элементы, необходимые для заботы о сердце и сосудах.' )
      +card('swiper-slide slide', 'images/slider3.png', 'Укропная вода', 'Забота о сердце для активной жизни', 'Биологически активная добавка для здоровья сердца и активной жизни, в составе которой преобладают натуральные экстракты лекарственных растений и важные элементы, необходимые для заботы о сердце и сосудах.' )
      +card('swiper-slide slide', 'images/slider1.png', 'Кардиола 2', 'Забота о сердце для активной жизни', 'Биологически активная добавка для здоровья сердца и активной жизни, в составе которой преобладают натуральные экстракты лекарственных растений и важные элементы, необходимые для заботы о сердце и сосудах.' )
      +card('swiper-slide slide', 'images/slider1.png', 'Кардиола 3', 'Забота о сердце для активной жизни', 'Биологически активная добавка для здоровья сердца и активной жизни, в составе которой преобладают натуральные экстракты лекарственных растений и важные элементы, необходимые для заботы о сердце и сосудах.' )
        



