@import './_vars';
@import './_mixins.scss';
@import './_fonts';


.header{
  background-color: #fff;
  border-bottom: 1px solid var(--lite-gray);
  position: sticky;
  top: 0;
  z-index: 10;

  &__wrapper{
    border-bottom: 2px solid #CEEEF2;
  }

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-block a{
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 21px 0 27px 0;

    div{
      img{
        object-fit: contain;
      }
    }
  }

  &__line img{
    height: auto;
    width: 20px;
    padding-top: 10px;
  }
  &__slogan img{
    height: 17px;
    width: 235px;
    padding-top: 12px;
  }
  &__logo img{
    height: 50px;
    width: 153px;
  }

  &__search-block{
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__input-box {
    position: relative;
  
    .search-icon{
      width: 17px;
      height: 17px;
      position: absolute; 
      top: 50%; 
      left: 347px; 
      transform: translateY(-50%);
      transition: all 0.8s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

      &.active{
        left: 9px; 
      }
    }
    .input{
      width: 366px;
      height: 40px;
      outline: none;
      border: 1px solid #E0E0E0;
      border-radius: 50px;
      padding-left: 11px;
      @include font(var(--font-roboto), 15px, 100%, 400);
      @include ts;

      &.active{
        padding-left: 30px;
      }
    } 
    .input:focus{
      border: 1px solid var(--lite-gray);
    }
    .close-icon{
      width: 18px;
      height: 18px;
      position: absolute; 
      top: 50%; 
      left: 373px; 
      fill: #E0E0E0;
      opacity: 0;
      transform: translateY(-50%);
      @include ts;
      &:hover{
        fill: var(--cold-mint);
      }

      &.active{
        opacity: 1;
        transform: translateY(-50%) rotate(360deg);
      }
    } 
  }

  .like-icon{
    stroke: var(--primary-color);
    stroke-width: 1.5;
    stroke-linejoin: round;
    @include ts;
    cursor: pointer;
    
    &:hover{
      fill: var(--primary-color);
    }
  }
  

  &__nav{
    width: 1280px;
    margin: 0 auto;

    .nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav-item{
      display: grid;
      width: 137px;
      list-style: none;
      padding-top: 23px;
      padding-bottom: 25px;
      text-align: center; 
      cursor: pointer;
      @include ts;

      &:hover{
          background:  rgb(160, 220, 228, 0.2);
        }
      .nav-link{
        @include nav-text;
        @include ts;
        position: relative;
        
        &:focus{
          color: var(--primary-color);
        }

        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background:  var(--primary-color);
          transform: scaleX(0);
          transition: all .5s ease;
          top: 38px;
          left: 0;
        }
        &:hover::before, &:focus::before{
          transform: scaleX(1);
          cursor: pointer;
        }
      }
    }
    .nav-item:nth-child(1){
      background:  rgb(160, 220, 228, 0.2);
      padding: 24px 52px;
      position: relative;
    }
    .nav-item:nth-child(1)::before{
      background-image: url('../images/items/burgerMenu.svg');
      background-repeat: no-repeat;
      width: 16px;
      height: 13px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
      content: "";
    }
    .nav-item:nth-child(7){
      position: relative;
    }
    .nav-item:nth-child(7)::before{
      background-image: url('../images/items/mapIcon.svg');
      background-repeat: no-repeat;
      width: 13px;
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 5%;
      content: "";
    }
  }      
}
