.fb{
  width: 560px !important;
  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  &__rating{
    margin-right: 10px;
    .stars{
      display: flex;
      gap: 4px;
    }
  }
  &__scroll_active{
    overflow-y: scroll !important;
    height: 264px;


    &::-webkit-scrollbar{
      width: 5px;
      background-color: #E0E0E0;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 5px;
    }
  }
  
  &__fio{
    @include btn;
    color: var(--base-color);
  }
  &__text{
    @include font(var(--font-roboto), 16px, 140%, 400);
    color: var(--text-color);
  }
  &__text_clamp{
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
}